<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
<script src="../node_modules/vue/dist/vue.js"></script>
<div id="app">
    <!--要循环谁就在谁身上增加v-for属性-->
    <!--默认是value in(of) 数组/(value,index) in(of) 数组-->
    <ul>
        <li v-for="(fruit,index) in fruits">
            {{fruit.name}}{{index+1}}
            <ul>
                <li v-for="(c,childIndex) in fruit.color">{{index+1}}.{{childIndex}}{{c}}</li>
            </ul>
        </li>
    </ul>
    <div v-for="(value,key,index) in obj">{{value}},{{key}},{{index}}</div>
</div>
<script type="text/javascript">
//vue 提供了一个指令 v-for 解决循环问题的 更高效 会复用原有的结构
    var vm = new Vue({
        el:"#app",
        data:{
            obj:{name:'ldy',age:"18",add:'bj'},
            fruits:[
                {name:'香蕉',color:['green','yellow']},
                {name:'苹果',color:['red','green']},
                {name:'草莓',color:['red']}
            ]
        }
    })
</script>
</body>
</html>