<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
<script src="../node_modules/vue/dist/vue.js"></script>
<div id="app">
    <!--modifiers 键盘修饰符-->
    <input type="text" v-model="val" @keyup.enter="add">
    <ul>
        <li v-for="(a,index) in arr">{{a}}<button @click="remove(index)">删除</button></li>
    </ul>
</div>
<script type="text/javascript">
    'use strict';//js严格模式
    //引入vue后白给你一个Vue构造函数
    let vm = new Vue({ //vm == viewModel
        el:"#app",
        methods:{
            add(e){

                    this.arr.push(this.val);
                    this.val='';

            },
            remove(i){
                this.arr=this.arr.filter(function(item,index){
                    //用filter过滤 把索引相等的删掉,不等的留下
                    return index!==i;
                })

            }
        },
        data:{//data中的数据会被vm所代理
            arr:[],
            val:''
        }

    });//Object.defineProerty
</script>
</body>
</html>